@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.auth__footer {
  position: absolute;
  background-origin: padding-box;
  width: 100%;
  bottom: 0;
  left: 0;
  @include flex;
  gap: 0.3rem;
  padding: 1rem;
  background: var(--bg-main);
  border-radius: 0 0 var(--bor-radius) var(--bor-radius);
}

.text {
  font-size: 13px;
  opacity: 0.65;
  font-weight: 400;
  line-height: 1.38462;
}

.link {
  font-size: 13px;

  font-weight: 500;
  line-height: 1.38462;
  @include transition;

  &:hover {
    text-decoration: underline;
  }
}
