@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.validation {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 11px;
  color: var(--tc-gray);
  margin-top: 0.2rem;

  .icon__info {
    width: 15px;
    height: 15px;
    color: var(--tc-valid);
  }

  .icon__error {
    width: 15px;
    height: 15px;
    color: var(--tc-error);
  }

  .valid {
    color: var(--tc-valid);
  }

  .invalid {
    color: var(--tc-error);
  }
}
