@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.auth__section {
  @include flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--bg-main);
}

.form__wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 400px;

  padding: 3rem;

  border: 1px solid var(--bg-border);
  border-radius: var(--bor-radius);
  background: var(--foot-bg);
}

.form__head {
  text-align: center;
}

.title {
  font-size: 17px;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.41176;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 13px;
  opacity: 0.65;
  font-weight: 400;
  line-height: 1.38462;
}

.decorative_text {
  position: relative;
  display: flex;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 1px;
    background-color: var(--bg-border);
  }

  &::after {
    left: 0;
  }
  &::before {
    right: 0;
  }
}

//form
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;

  &__label {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38462;
  }

  &__input {
    border-radius: 6px;
    border: 1px solid var(--bg-border);
    padding: 0.4rem;
    font-size: 13px;

    font-weight: 400;
    line-height: 1.38462;
    background: #181818;

    &:hover {
      border: 1px solid #565656;
    }

    &:focus {
      border: 1px solid #565656;
      outline: 3px solid #333333;
      outline-offset: 0;
    }

    &.valid {
      border: 1px solid var(--tc-valid);

      &:focus {
        outline: 3px solid #22c54341;
        outline-offset: 0;
      }
    }

    &.invalid {
      border: 1px solid var(--tc-error);

      &:focus {
        outline: 3px solid #e5424251;
        outline-offset: 0;
      }
    }
  }
}

.input__group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
