:root {
  /* Light mode */
  --tc-main: #0b132b;

  --bg-main: #edf6f9;

  
  --ff-sora: 'Sora', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
}

// /* Dark mode */
// [data-theme='dark'] {
//   --text-color: #fff;
//   --pageBg: #141221;
//   --text-menu: #3a5a40;
//   --menuBg: #201d31;
//   --borderBottom: #8378d5;
// }
