:root {
  /* Light mode */
  --tc-main: #f8f9fa;
  --tc-gray: #9d9d9d;
  --tc-accent: #219ebc;

  --tc-error: #e54242;
  --tc-valid: #22c543;

  --bg-main: #0a0a0a;
  --bg-header: #20202380;
  --foot-bg: #101010;

  // Font famali
  --ff-sora: 'Sora', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  // btn black
  --btn-c-black: #f8f9fa;
  --btn-bg-black: #181818;
  --btn-g-h-black: #262626;

  --btn-c-white: #181818;
  --btn-bg-white: #f8f9fa;
  --btn-g-h-white: #d2d2d2;

  --btn-disabled-bg: #e0e0e0; // Светло-серый фон
  --btn-disabled-text: #a0a0a0; // Тусклый текст
  --btn-disabled-border: #d0d0d0; // Серый бордер

  --bor-radius: 0.75rem;
  --bg-border: #262626;
  // adaptation
  --mobile: 480;
  --tablet-t: 768;
  --large-desktop: 1200;
}

// /* Dark mode */
// [data-theme='dark'] {

// }
