@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.btnMain {
  @include flex;
  @include transition;
  padding: 7px 12px;
  gap: 8px;

  border-radius: var(--bor-radius);

  font-size: 13px;
  font-weight: 500;
  line-height: 1.38462;

  color: var(--btn-c-black) !important;
  background-color: var(--btn-bg-black);
  border: 1px solid var(--btn-g-h-black);

  &:hover {
    background-color: var(--btn-g-h-black);
  }
}

.white {
  color: var(--btn-c-white) !important;
  background-color: var(--btn-bg-white);
  border: 1px solid var(--btn-g-h-white);

  &:hover {
    background-color: var(--btn-g-h-white);
  }
}

.black__white {
  color: var(--tc-gray) !important;
  &:hover {
    color: var(--btn-c-white) !important;
    background-color: var(--btn-bg-white);
  }
}
